.order-details {
  width: 1020px;
  background: #F2F2F2;
  margin-top: 20px;
  padding: 20 0 20 0; }
  .order-details .details-title {
    width: 980px;
    height: 40px;
    background: #E7F7F4;
    line-height: 40px;
    font-size: 16px;
    color: #838383;
    padding-left: 10px; }
  .order-details .flow-img {
    width: 980px;
    height: 200px;
    border-top: 3px solid #31C4A8;
    margin: 0 auto;
    background: white;
    position: relative; }
    .order-details .flow-img .pd-img-d {
      height: 90px;
      width: 60px;
      float: left;
      margin: 35 8 0 8; }
      .order-details .flow-img .pd-img-d img {
        margin: 0 auto;
        max-height: 50px; }
      .order-details .flow-img .pd-img-d img:nth-child(1) {
        margin-left: 12px; }
      .order-details .flow-img .pd-img-d div {
        width: 100%;
        height: 60px; }
      .order-details .flow-img .pd-img-d span {
        display: block;
        width: 60px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        text-align: center;
        color: #646464; }
    .order-details .flow-img .pd-img-c {
      height: 90px;
      width: 150px;
      float: left;
      margin-top: 35px; }
      .order-details .flow-img .pd-img-c img {
        height: 10px;
        width: 150px;
        margin-top: 20px; }
  .order-details .order-products {
    width: 980px;
    min-height: 160px;
    border-top: 3px solid #31C4A8;
    margin: 0 auto;
    background: white;
    margin-top: 20px; }
    .order-details .order-products .list-product {
      width: 100%;
      min-height: 120px;
      padding: 20px;
      border-top: 1px solid #EEEEEE; }
      .order-details .order-products .list-product img {
        height: 100px;
        height: 90px;
        float: left; }
      .order-details .order-products .list-product .pt-info1 {
        height: 60px;
        width: 200px;
        line-height: 20px;
        font-size: 15px;
        margin-left: 120px;
        float: left;
        margin-top: 20px; }
        .order-details .order-products .list-product .pt-info1 a {
          color: #31C4A8; }
      .order-details .order-products .list-product .pt-info2 {
        height: 80px;
        width: 200px;
        line-height: 20px;
        font-size: 20px;
        margin-left: 260px;
        float: left;
        line-height: 80px;
        color: #31C4A8; }
      .order-details .order-products .list-product .select-comment {
        height: 80px;
        line-height: 80px;
        font-size: 12px;
        float: right;
        width: 60px;
        text-align: center; }
        .order-details .order-products .list-product .select-comment a {
          color: #31C4A8; }
      .order-details .order-products .list-product .show-comment {
        min-height: 40px;
        line-height: 20px;
        font-size: 12px;
        width: 100%;
        text-align: left;
        margin-top: 100px;
        padding: 5px; }
        .order-details .order-products .list-product .show-comment a {
          color: #31C4A8; }
        .order-details .order-products .list-product .show-comment .max-image {
          width: 100%;
          height: 220px;
          text-align: center;
          margin: 5px;
          display: none; }
          .order-details .order-products .list-product .show-comment .max-image img {
            height: 200px;
            max-width: 800px; }
        .order-details .order-products .list-product .show-comment .cm-images {
          width: 100%;
          height: 50px;
          margin: 5px; }
          .order-details .order-products .list-product .show-comment .cm-images img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
            cursor: pointer; }
      .order-details .order-products .list-product .reply {
        width: 100%; }
        .order-details .order-products .list-product .reply p {
          color: #31C4A8; }
        .order-details .order-products .list-product .reply .reply-text {
          width: 800px;
          margin-left: 50px;
          max-height: 60px;
          line-height: 20px;
          font-size: 12px;
          color: #B9B9B9; }
    .order-details .order-products .info-left {
      height: 100px;
      width: 50%;
      float: left;
      border-right: 1px solid #F2F2F2;
      padding: 10px;
      margin-top: 10px; }
      .order-details .order-products .info-left li {
        height: 30px;
        width: 100%;
        margin-left: 15px;
        color: #838383; }
    .order-details .order-products .info-right {
      height: 100px;
      width: 50%;
      float: left;
      padding: 10px;
      margin-top: 10px; }
      .order-details .order-products .info-right li {
        height: 30px;
        width: 100%;
        margin-left: 15px;
        color: #838383; }
    .order-details .order-products .delivery-info {
      height: 200px;
      width: 100%;
      padding: 20px;
      line-height: 15px;
      font-size: 15px;
      overflow-y: auto; }

body .opt {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  display: none; }
  body .opt .reply-opt {
    height: 300px;
    width: 500px;
    margin: 0 auto;
    background: white;
    margin-top: 200px; }
    body .opt .reply-opt span {
      color: #31C4A8;
      font-size: 15px; }
    body .opt .reply-opt textarea {
      resize: none;
      border: 1px solid #CCC;
      margin-top: 10px;
      margin-left: 30px;
      font-size: 12px;
      line-height: 20px; }
    body .opt .reply-opt button {
      width: 80px;
      height: 30px;
      color: #31C4A8;
      border: 1px solid #31C4A8;
      background: white;
      margin-top: 20px;
      margin-left: 120px; }

.opacity-y {
  opacity: 0.3; }

.opacity-n {
  opacity: 1; }

/*# sourceMappingURL=order-details.css.map */
